* {
    padding: 0;
    margin: 0;
}

:root {
    background-color:rgb(240, 225, 186);
}
                         /*---------------------- COVER PAG -----------------------*/




                          /*---------------------- HEADER -----------------------*/
.header {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding-top: 2rem;
   padding-bottom: 2rem;
  

}
                         /*---------------------- COVER TITLE -----------------------*/
.title {
    word-wrap: break-word;
    text-align: center;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 

}
                         /*---------------------- COVER TEXT -----------------------*/
.cover-text {
    word-wrap: break-word;
    text-align: center;
    
    width: auto;
    max-width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
                       /*---------------------- CONTAINER PRIMARY -----------------------*/
.container-primary {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 8rem;
   padding-block: 3rem;
   padding-inline: 1rem;
   background-color:rgb(240, 212, 177);
   border-radius: 15px;
   margin-inline: 4rem;
   
}
                       /*---------------------- LIST RECIPES -----------------------*/
.List-recipes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.list-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    padding-bottom: 1rem;
   
 
   
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    background-color: rgb(252, 236, 195);
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 12px;
}
.items {
    border: 2px solid darkgray;
    background-color:rgb(26, 26, 63); 
    color: white;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}
.list-link {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
   
  
}

                         /*---------------------- COVER IMG -----------------------*/
.cover-img {
    max-width: 100%;
    height: auto;
    align-items: center;
    border: 0.1px solid darkgray;
    border-radius: 30px;
}

                       /*---------------------- HEADER RECIPES -----------------------*/
.header-recipes {
    padding-top: 2rem;
}
.recipes-title {
    word-wrap: break-word;
    text-align: center;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2rem;
}
.recipes-text {
    word-wrap: break-word;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
   
    
}

                          /*---------------------- CONTAINER-1 -----------------------*/
.container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    padding-block: 3rem;
    padding-inline: 1rem;
    background-color:rgb(240, 212, 177);
    border-radius: 15px;
    margin-inline: 4rem;
    
    
}

                                   /*---------------------- INGREDENTS TABLE -----------------------*/  
.ingredients {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(252, 236, 195);
  border-radius: 12px;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.ingredientes-title {
    font-size: 2rem;
    text-align: center;
}

.table-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;

}
.table-quant {
    border: 1px solid gray;
    background-color:rgb(26, 26, 63);
    color: white;
    text-align: center;
    border-radius: 5px;

}
.table-ingredient {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
}
                               /*---------------------- IMG RECIPE -----------------------*/
.recipes-img {
    max-width: 100%;
    height: auto;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 15px;
    
}

                              /*---------------------- CONTAINER-2 -----------------------*/
.container-2 {
    background-color:rgb(240, 212, 177);
    margin-top: 6rem;
}
.preparation-title {
    font-size: 2rem;
    padding-top: 2rem;
    text-align: center
}
.preparation-list {
    font-size: 1.3rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:rgb(240, 212, 177);
    margin-inline: 3rem;
    list-style: none;
    
    
}
.num-items {
    background-color:rgb(26, 26, 63); 
    color: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 9999px;
    padding-inline: 0.4rem;
    padding-block: 0.1rem;
    list-style: none;
    margin-right: 0.5rem;
    


}

                            /*---------------------- FOOTER -----------------------*/

.footer {
    background-color:rgb(240, 225, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    flex-wrap: wrap;
    margin-block: 1rem;
}
.footer-text {
    font-size: 1rem;
    padding-block: 1rem;
    opacity: 0.5;
    

}
.footer-link {
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid gray;
    color: white;
    background-color:rgb(26, 26, 63);
    padding-block: 0.7rem;
    padding-inline: 0.7rem;
    border-radius: 15px;;
    
}

@media (max-width:768px) {
* {
    padding: 0;
    margin: 0;
}
 .container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-inline: 5%;
    
 }
 .ingredients {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
.container-primary {
    gap: 1rem;
    margin-inline: 5%;
}
.cover-img {
    width: 100%;
    height: auto;
}
.header-recipes {
    margin-inline: 5%;
    text-align: center;
    text-wrap: wrap;
}
.container-2 {
    margin-inline: 5%;
    margin-top: 2rem;
}
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-inline: 5%;
    gap: 2rem;
    margin-top: 2rem;
}
}

@media (min-width:769px),(max-width:900px) {
    .preparation-list {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .footer {
        display: flex;
        flex-wrap: wrap;
       
    }
}
